@import url("https://fonts.googleapis.com/css?family=Fira+Mono");

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Mono";
}
#calculator {
  width: 400px;
  height: auto;
  background: #000;
}

#display,
#inputs {
  background: #333;
  height: 50px;
  color: whitesmoke;
  text-align: right;
  padding: 5px 10px;
}

#inputs {
  font-size: 2.4rem;
}

#display {
  font-size: 3.6rem;
}

#buttons > div {
  box-sizing: border-box;
  color: floralwhite;
  float: left;
  width: 25%;
  background: #333;
  border: 1px solid #000;
  border-right: none;
  padding: 0 25px;
  text-align: center;
  line-height: 75px;
  height: 75px;
}

#buttons > div:hover {
  background: #111 !important;
  cursor: pointer !important;
}

#buttons #clear {
  background: rgb(182, 49, 76);
  width: 50%;
}

#buttons #zero {
  width: 50%;
}

#buttons #equals {
  height: 150px;
  line-height: 150px;
  float: right;
  background: rgb(85, 149, 221);
}

#buttons #add,
#buttons #multiply,
#buttons #subtract,
#buttons #divide {
  background: rgb(107, 107, 107);
}
